<!-- need to fix algSkipped to something like skipped[subject] and then restructure code -->
<!-- include the loading thing in this part? -->
<section ng-show="!saving" id="buttons">
	<div ng-repeat="lesson in lessons">
		<button id="lesson_button" ng-click="show = !show; updateSkipped(lesson)" ng-class="{'btn-primary' : show, 'btn-primary' : algSkipped.indexOf(lesson) === -1}" class="btn">{{lesson}}</button>
	</div>
	<div ng-if="user.type=='admin'" id="update_div">
		<button id="update" class="btn btn-danger" ng-click="storeSkipped(subject)">{{buttonText}}</button>
	</div>
	<div ng-if="user.type=='teacher'">
		<button ng-if="buttonText=='Request Update'" class="btn btn-danger" data-toggle="modal" data-target="#reasoning" ng-click="preReq()">{{buttonText}}</button>
		<button ng-if="buttonText!='Request Update'" class="btn btn-danger" ng-click="requestUpdate(subject)">{{buttonText}}</button>
	</div>
	<!-- Modal -->
	<request></request>
	
</section>