<h1>Remove the lessons you want to skip and click update to generate the HW list</h1>

<div id="main_container">
	<div id="sidebar">
		<div>
			<a ui-sref="alghome">Algebra</a>
		</div>
		<div>
			<a ui-sref="geohome">Geometry</a>
		</div>
		<div>
			<a ui-sref="alg2home">Algebra II</a>
		</div>
	</div>

	<div id="buttons" ng-repeat="lesson in lessons">
		<button ng-click="remove(); updateSkipped(lesson)" ng-class="{'btn-primary' : !show}" class="btn btn-primary">{{lesson}} <i class="fa fa-times-circle" aria-hidden="true"></i></button>
	</div>
</div>

<div ng-click="printSkipped()">
	<button ui-sref="alghw" class="btn btn-danger">Update HW list</button>
</div>



<!-- add a reset button. or undo -->



<!-- <div ng-repeat="geo in geoData">{{geo.lessonNum}} {{geo.problemNum}} {{geo.lessonRef}} {{geo.assigned}}</div> -->

<!-- ng or ui grid? like itunes and pokemon app -->