<h1 class="text-center">Remove the lessons you want to skip and click update to generate the HW list</h1>
<!-- {{algSkipped}} -->
<div id="main_container">
	<div id="sidebar">
		<div>
			<a ui-sref="alghome" ui-sref-active="active">Algebra</a>
			<button class="btn btn-success" ng-click="reset()">Reset</button>
		</div>
		<div>
			<a ui-sref="geohome" ui-sref-active="active">Geometry</a>
		</div>
		<div>
			<a ui-sref="alg2home" ui-sref-active="active">Algebra II</a>
		</div>
		<div>
			<a ui-sref="login">Logout</a>
		</div>
	</div>

	<div id="buttons">
		<div ng-repeat="lesson in lessons">
			<button ng-click="show = !show; updateSkipped(lesson)" ng-class="{'btn-primary' : show, 'btn-primary' : algSkipped.indexOf(lesson) === -1}" class="btn">{{lesson}} <i class="fa fa-times-circle" aria-hidden="true"></i></button>
		</div>
		<div id="update_div" ng-click="printSkipped()">
			<button id="update" class="btn btn-danger" ng-click="storeSkipped('alg')">Update HW</button>
		</div>
	</div>
</div>





<!-- add a reset button. or undo -->



<!-- <div ng-repeat="geo in geoData">{{geo.lessonNum}} {{geo.problemNum}} {{geo.lessonRef}} {{geo.assigned}}</div> -->

<!-- ng or ui grid? like itunes and pokemon app -->