Account Type: {{accountType}}
<h1 ng-if="accountType!='student'" class="text-center"><a ui-sref="alghome">Algebra HW</a></h1>
<h1 ng-if="accountType=='student'" class="text-center">Algebra HW</h1>
<!-- <button class="btn btn-primary" ui-sref="alghome"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button> -->
<p class="text-center">Skipped Lessons: {{algSkipped}}</p>
<div id="container">
	<div id="sidebar">
		<div>
			<a ui-sref="alghw" ui-sref-active="active">Algebra</a>
		</div>
		<div>
			<a ui-sref="geohw" ui-sref-active="active">Geometry</a>
		</div>
		<div>
			<a ui-sref="alg2hw" ui-sref-active="active">Algebra II</a>
		</div>
		<div>
			<a ui-sref="login">Logout</a>
		</div>
	</div>



<!-- <div id="hw"> -->
	<section class="assigned">
	<div>
		<h2>Assigned</h2>
		<div ng-repeat="alg in algAssignedData | orderObjectBy: 'lesson'">
			<strong>L{{alg.lesson}}: </strong>{{alg.problems}}
		</div>
	</div>
	<div>
		<h2>Skipped</h2>
		<div ng-repeat="alg in algSkippedData | orderObjectBy: 'lesson'">
			<strong>L{{alg.lesson}}: </strong>{{alg.problems}}
		</div>
	</div>
</section>
<!-- </div> -->
</div>

<!-- <section class="assigned">
	<div>
		<h2>Assigned</h2>
		<div ng-repeat="num in lessonNums">
			<h3>L{{num}}</h3>
			<div class="data" ng-repeat="alg in algAssignedData | filter: {lessonNum: num}:true">
				{{alg.problemNum}}{{$last ? '' : ', '}}
			</div>
			
		</div>
	</div>

	<div>
		<h2>Skipped</h2>
		<div ng-repeat="num in lessonNums">
			<h3>L{{num}}</h3>
			<div class="data" ng-repeat="alg in algSkippedData | filter: {lessonNum: num}:true">
				 {{alg.problemNum}}{{$last ? '' : ', '}}
 
			</div>
		</div>
	</div>
</section> -->

<!-- <div class="assigned">
	
	<div><div ng-repeat="num in lessonNums">
			<h2>Assigned</h2>
			<h3>L{{num}}</h3>
			<div ng-repeat="alg in algAssignedData | filter: {lessonNum: num}:true">
				L{{alg.lessonNum}} #{{alg.problemNum}} Ref: {{alg.lessonRef}} Assigned:{{alg.assigned}}
			</div>
			<h2>Skipped</h2>
			<h3>L{{num}}</h3>
			<div ng-repeat="alg in algSkippedData | filter: {lessonNum: num}:true">
				L{{alg.lessonNum}} #{{alg.problemNum}} Ref: {{alg.lessonRef}} Assigned:{{alg.assigned}}
			</div>
		</div></div>
	
</div> -->

<!-- <div ng-repeat="alg in algAssignedData | groupBy: 'lessonNum'">L{{alg.lessonNum}} #{{alg.problemNum}} Ref: {{alg.lessonRef}} Assigned:{{alg.assigned}}
		</div> -->

	<!-- <div>
		<h2>Skipped</h2>
		<div ng-repeat="alg in algSkippedData">L{{alg.lessonNum}} #{{alg.problemNum}} Ref: {{alg.lessonRef}} Assigned:{{alg.assigned}}
		</div>
	</div> -->