User: {{user.username}}
Type: {{user.accountType}}
<h1 ng-if="user.accountType!='student'" class="text-center"><a ui-sref="alghome">Algebra HW</a></h1>

<h1 ng-if="user.accountType=='student'" class="text-center">Algebra HW</h1>

<p class="text-center">Skipped Lessons: {{algSkipped}}</p>

<div id="container">
	<div id="sidebar">
		<div>
			<a ui-sref="alghw" ui-sref-active="active">Algebra</a>
		</div>
		<div>
			<a ui-sref="geohw" ui-sref-active="active">Geometry</a>
		</div>
		<div>
			<a ui-sref="alg2hw" ui-sref-active="active">Algebra II</a>
		</div>
		<div>
			<a ui-sref="login" ng-click="logout()">Logout</a>
		</div>
	</div>

<section class="assigned">
	<div>
		<h2>Assigned</h2>
		<div ng-repeat="alg in algAssignedData | orderObjectBy: 'lesson'">
			<strong>L{{alg.lesson}}: </strong>{{alg.problems}}
		</div>
	</div>
	<div>
		<h2>Skipped</h2>
		<div ng-repeat="alg in algSkippedData | orderObjectBy: 'lesson'">
			<strong>L{{alg.lesson}}: </strong>{{alg.problems}}
		</div>
	</div>
</section>
</div>