<!-- <h1 class="text-center">Remove the lessons you want to skip and click update to generate the HW list</h1> -->
<nav id="user_info">
	<div class="user_divs">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user.username}} 
	</div>
	<div class="user_divs">Role: {{user.type}}</div>
</nav>

<div id="main_container">
	<section id="sidebar">
		<div>
			<a ui-sref="alghome" ui-sref-active="active" class="sidebar_links">Algebra</a>
		</div>
		<div>
			<a ui-sref="geohome" ui-sref-active="active" class="sidebar_links">Geometry</a> <br>
			<button class="btn btn-success reset" ng-click="reset()">Reset</button>
		</div>
		<div>
			<a ui-sref="alg2home" ui-sref-active="active" class="sidebar_links">Algebra II</a>
		</div>
		<div ng-if="user.type=='admin'">
			<a ui-sref="admin" ui-sref-active="active" class="sidebar_links">Admin Tools</a>
		</div>
		<div>
			<a ui-sref="login" ng-click="logout()" class="sidebar_links">Logout</a>
		</div>
	</section>

	<!-- <buttons></buttons> -->
	<section class="modify_container">
		<h1 class="text-center modify_title">Modify {{subject}} HW</h1>
		<h4 class="text-center">Click the lesson number to skip or unskip that lesson</h4>
		
		<section class="modify_content">
			<section ng-show="!saving" id="buttons">
				<div ng-repeat="lesson in lessons">
					<button id="lesson_button" ng-click="show = !show; updateSkipped(lesson)" ng-class="{'btn-primary' : show, 'btn-primary' : geoSkipped.indexOf(lesson) === -1}" class="btn">{{lesson}}</button>
				</div>
				<div ng-if="user.type=='admin'" id="update_div">
					<button class="btn btn-danger" id="update" ng-click="storeSkipped()">{{buttonText}}</button>
				</div>
			
				<div ng-if="user.type=='teacher'" id="update_div">
					<button ng-if="buttonText=='Request Update'" class="btn btn-danger" id="update" data-toggle="modal" data-target="#reasoning" ng-click="preReq()">{{buttonText}}</button>
					<button ng-if="buttonText!='Request Update'" class="btn btn-danger" id="update" ng-click="requestUpdate()">{{buttonText}}</button>
				</div>
			
				<!-- Modal -->
				<request></request>
						
			</section>
			
			<section ng-show="saving" id="modify_saving">
				<h1 class="text-center">Updating <i class="fa fa-spin fa-spinner"></i></h1>
			</section>
		</section>
	</section>
</div>