User: {{username}}
<h1 ng-if="accountType!='student'" class="text-center"><a ui-sref="geohome">Geometry HW</a></h1>
<h1 ng-if="accountType=='student'" class="text-center">Geometry HW</h1><!-- <button class="btn btn-primary" ui-sref="geohome"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button> -->
<p class="text-center">Skipped Lessons: {{geoSkipped}}</p>
<div id="container">
	<div id="sidebar">
		<div>
			<a ui-sref="alghw" ui-sref-active="active">Algebra</a>
		</div>
		<div>
			<a ui-sref="geohw" ui-sref-active="active">Geometry</a>
		</div>
		<div>
			<a ui-sref="alg2hw" ui-sref-active="active">Algebra II</a>
		</div>
		<div>
			<a ui-sref="login">Logout</a>
		</div>
	</div>



<!-- <div id="hw"> -->
	<section class="assigned">
	<div>
		<h2>Assigned</h2>
		<div ng-repeat="geo in geoAssignedData | orderObjectBy: 'lesson'">
			<strong>L{{geo.lesson}}: </strong>{{geo.problems}}
		</div>
	</div>
	<div>
		<h2>Skipped</h2>
		<div ng-repeat="geo in geoSkippedData | orderObjectBy: 'lesson'">
			<strong>L{{geo.lesson}}: </strong>{{geo.problems}}
		</div>
	</div>
</section>
<!-- </div> -->
</div>




<!-- <h1>Geometry HW</h1>
<button class="btn btn-primary" ui-sref="geohome"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
Skipped: {{geoSkipped}}
<section class="assigned">
	<div>
		<h2>Assigned</h2>
		<div ng-repeat="geo in geoAssignedData | orderObjectBy: 'lesson'">
			<strong>L{{geo.lesson}}: </strong>{{geo.problems}}
		</div>
	</div>
	<div>
		<h2>Skipped</h2>
		<div ng-repeat="geo in geoSkippedData | orderObjectBy: 'lesson'">
			<strong>L{{geo.lesson}}: </strong>{{geo.problems}}
		</div>
	</div>
</section> -->

<!-- <div class="assigned">
	<div>
		<h2>Assigned</h2>
		<div ng-repeat="geo in geoAssignedData">L{{geo.lessonNum}} #{{geo.problemNum}} Ref: {{geo.lessonRef}} Assigned:{{geo.assigned}}
		</div>
	</div>

	<div>
		<h2>Skipped</h2>
		<div ng-repeat="geo in geoSkippedData">L{{geo.lessonNum}} #{{geo.problemNum}} Ref: {{geo.lessonRef}} Assigned:{{geo.assigned}}
		</div>
	</div>
</div> -->



