<main class="start">
	<section id="login_wrapper">
		<h1 class="text-center" id="login-title">Saxon Math Homework</h1>
		<form id="login" ng-submit="login(user); getSkipped()">
			<input class="form-control login_input" type="text" ng-model="user.username" placeholder="username" required autofocus>
			<input class="form-control login_input" type="password" ng-model="user.password" placeholder="password" required>
			<br>
			<input class="btn btn-primary" type="submit" value="Login">
			<br>
			<a ui-sref="signup" id="signup_link">Teachers and administrators click here to register</a>
		</form>
	</section>
</main>