<section >
	<form class="signup" ng-submit="signup(user)">
		<h2>School Info</h2>
		<input class="form-control" type="text" ng-model="user.school.name" placeholder="School Name" required autofocus>
		<input class="form-control" type="text" ng-model="user.school.city" placeholder="City" required >
		<div>State:
			<select class="input-medium" ng-model="user.school.state" ng-options="opt.value as opt.name for opt in options">
			</select>
		</div>

		<h2>Create an Account</h2>
		<div>Role:
			<select class="input-medium" ng-model="user.user.type" ng-init="user.user.type='teacher'"> 
				<option value="admin">Admin</option>
				<option value="teacher">Teacher</option>
			</select>
		</div>
		<input class="form-control" type="text" ng-model="user.user.username" placeholder="username" required> <button type="button" id="available" class="btn btn-success" ng-click="userAvailable(user.user.username)">Check Availability</button>
		<input class="form-control" type="password" ng-model="user.user.password" placeholder="password" required>
		<input class="form-control" type="email" ng-model="user.user.email" placeholder="email" required>
		
		<div ng-if="user.user.type=='admin'" class="text-center">
			<h2>Create Student Accounts</h2>
			<section id="student-accounts">
				<div>
					<div>Role:
						<select class="input-medium" ng-model="user.alg.type" ng-init="user.alg.type='student'">
							<option value="student">Student</option>
						</select>
					</div>
					<input class="form-control" type="text" ng-model="user.alg.username" placeholder="{{user.school.name}}alg">
					<button type="button" id="available" class="btn btn-success" ng-click="userAvailable(user.alg.username)">Check Availability</button>
					<input class="form-control" type="text" ng-model="user.alg.password" placeholder="student password">
				</div>
				<div>
					<div>Role:
						<select class="input-medium" ng-model="user.geo.type" ng-init="user.geo.type='student'">
							<option value="student">Student</option>
						</select>
					</div>
					<input class="form-control" type="text" ng-model="user.geo.username" placeholder="{{user.school.name}}geo">
					<button type="button" id="available" class="btn btn-success" ng-click="userAvailable(user.geo.username)">Check Availability</button>
					<input class="form-control" type="text" ng-model="user.geo.password" placeholder="student password">
				</div>
				<div>
					<div>Role:
						<select class="input-medium" ng-model="user.alg2.type" ng-init="user.alg2.type='student'">
							<option value="student">Student</option>
						</select>
					</div>
					<input class="form-control" type="text" ng-model="user.alg2.username" placeholder="{{user.school.name}}alg2">
					<button type="button" id="available" class="btn btn-success" ng-click="userAvailable(user.alg2.username)">Check Availability</button>
					<input class="form-control" type="text" ng-model="user.alg2.password" placeholder="student password">
				</div>
			</section>
		</div>


		<button class="btn btn-primary" type="submit" value="Signup">Signup</button>

		

	</form>
	<br>
</section>