#buttons {
	display: flex;
	flex-wrap: wrap;
	width: 80vw;
}

button {
	width: 8vw;
}

#update {
	width: 12vw;
	margin: auto;
}

#skipped {
	opacity: 0.5;
}

#sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 3vw;
	width: 15vw;
	height: 50vh;
}

#main_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100vw;
}

#update_div {
	display: flex;
	justify-content: center;
	width: 100vw;
}

a {
	text-decoration: none !important;
}

.active {
	color: red;
}

.assigned {
	display: flex;
	justify-content: space-around;
	/*text-align: center;*/
}

.data {
	display: inline-block
}

/*.columns {
	width: 45%;
	
}

.col-wrapper {
	display: flex;
	justify-content: space-around;
	text-align: center;
}*/