#container {
	display: flex;
}

.hw_container {
	width: 85vw;
	height: 90vh;
    	position: relative;

    	display: flex;
    flex-direction: column;
    align-content: space-between;
}

.hw_container::after {
	background: url('../img/hw-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity : 0.05;
	z-index: -1;
}

.hw_content {
	display: flex;
	justify-content: center;
	overflow: auto;
	width: 100%;
	margin: auto;
	margin-top: -6px;

	padding-left: 65px;
}

.hw {
	/*width: 39%;*/
	width: 43%;
	text-align: center;
	height: 100%;
}

.problems {
	/*width: 71%; */
	width: 100%;
	margin: auto;
	text-align: left;
	display: inline-block;
}

.problems h2 {
	margin: 0 auto;
}

.numbers {
	font-size: 20px;
	line-height: 29px;
}

@media (max-width: 430px) {
	#container {
		justify-content: space-around;
	}

	.hw_container {
		height: 95vh;
	}

	.hw_content {
		flex-direction: column;
		justify-content: flex-start;
	}

	.hw { 
		width: 100%;
		/*padding-left: 26px;*/
		padding-left: 0;
	}

	.numbers {
		font-size: 14px;
		line-height: 21px;
	}
}

@media (max-width: 320px) {
	.hw_content {
		padding-left: 53px;
	}
}

@media (device-width: 414px) {
	.hw_content: {
		padding-left: 70px;
	}
}

@media (device-width: 768px) {
	.hw_content {
		padding-left: 0;
	}

	.hw {
		width: 39%;
	}

	.problems {
		width: 71%;
	}
}