/*body {
	background: url('../img/login_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}*/

#login_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 80vh;

}

#login-title {
	width: 90vw;
	/*margin: auto;*/
	font-size: 8vw;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #3276b1;
}

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_input {
	width: 60%;
}

#signup_link {
	color: #fff;
}

/*ipad and smaller*/
@media (max-width: 770px) {
	#login-title {
		font-size: 13vw;
		/*margin-top: 30px;*/
	}

	#login_wrapper {
		height: 70vh;
	}
}

/*ipad*/
@media (device-width: 768px) {
	#login {
		width: 87vw;
		font-size: 30px;
	}

	.login_input {
		width: 30%;
	}
}