#main_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100vw;
}

.modify_container {
	width: 85vw;
	height: 90vh;
	/*overflow: auto;*/
}

.modify_content {
	overflow: auto;
	height: 71vh;
	/*margin-top: 35px;*/
	width: 93%;
	margin: 35px auto 0 auto;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}

#modify_saving {
	width: 80vw;
	margin: auto;
}

#lesson_button {
	width: 7vw;
}

#update_div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 5vw;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#adminkey_input {
	width: 10vw;
	display: inline-block;
}

@media (max-width: 770px) {
	#lesson_button {
		width: 13vw;
		font-size: 3vw;
		height: 8vw;
	}

	#update {
		font-size: 3vw;
		padding: 3px 12px;
	}

	.reset {
		width: 15vw;
		padding: 0;
	}

	.modify_title {
		font-size: 25px;
	}
}

