#admin_nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	background-color: #3276b1;
	font-size: 3vh;
	box-shadow: 0 12px 24px 0 rgba(0,20,60,1.12);
}

#admin_nav div a {
	color: #fff;
	cursor: pointer;
}

#admin_main {
	display: flex;
}
	
#admin_sidebar {
	width: 15vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	box-shadow: 0 12px 24px 0 rgba(0,0,0,1.12);
}

#admin_sidebar h3 a:hover {
	color: #000;
}

#admin_sidebar h3 a:focus {
	/*color: #fff;*/
	color: #000;
}

#admin_content {
	width: 86vw;
	height: 90vh;
	position: relative;
	display: flex;
}

#admin_content::after {
	background: url('../../img/admin-background-min.jpeg');
	/*background: url('../app/img/admin-background-min.jpeg');*/
	background-size: cover;
	background-repeat: no-repeat;
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity : 0.4;
	z-index: -1;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 40.2vw; 
    text-align: center;
    align-self: center;
}

.ngViewport {
	height: auto !important;
	width: auto !important;
}

.ngRow {
	width: 40vw !important;
}
.ngTopPanel {
	width: auto;
}

#create_header {
	margin-bottom: 10px;
}

#section_contents {
	width: 45vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #fff;
	border-radius: 3px;
	opacity: 0.9;
	padding-bottom: 15px;
}

#student-accounts {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 20vw;
	margin: auto;
}

#reset {
	margin-left: auto;
	margin-right: auto;
}

#instructions {
	width: 90%;
	margin: auto;
	background-color: #fff;
	border-radius: 3px;
	padding-bottom: 15px;
	overflow: auto;
	height: 95%;
}

@media (device-width: 768px) {
	#admin_nav {
		font-size: 2vh;
		text-align: center;
	}
}

@media (max-width: 430px) {
	#admin_nav {
		font-size: 3vw;
		text-align: center;
	}

	#admin_sidebar h3 a {
		font-size: 10px;
	}

	#admin_sidebar h3 {
		line-height: 0.7;
	}

	#section_contents {
		width: 90%;
		overflow: auto;
	}

	.create {
		height: 95%;
	}

}